<div class="mx-auto my-5 w-75">
    <div class="flex-fill">
        <ul class="list-group">
            <li class="list-group-item d-flex flex-row align-items-center" *ngFor="let task of tasks">
                <div class="form-check">
                    <input class="form-check-input position-static" type="checkbox" (click)="taskDone(task, true)">
                </div>
                <span class="flex-fill">{{task.content}}</span>
                <i class="fa fa-times" aria-hidden="true" (click)="deleteTask(task)"> </i>
            </li>
            <li class="list-group-item d-flex flex-row align-items-center" *ngIf="editMode">
                <div class="form-check">
                    <input class="form-check-input position-static" type="checkbox">
                </div>
                <form [formGroup]="taskForm" class="d-flex flex-fill" (submit)="createTask()">
                    <input type="text" class="form-control flex-fill" formControlName="taskName">
                </form>
                <i class="fa fa-times" aria-hidden="true" (click)="editMode = false"> </i>
            </li>
        </ul>
        <div class="d-flex flex-row align-items-center m-3 px-1" *ngIf="!editMode" (click)="editMode = true">
            <i class="fa fa-plus mr-2" aria-hidden="true"> </i>
            <span class="flex-fill">Nouvel élément</span>
        </div>
    </div>
    <div class="flex-fill d-flex flex-column" *ngIf="this.doneTasks.length > 0">
        <div class="separator bg-primary mb-3"></div>
        <ul class="list-group flex-fill">
            <li class="list-group-item d-flex flex-row align-items-center" *ngFor="let task of doneTasks">
                <div class="form-check">
                    <input class="form-check-input position-static" type="checkbox" (click)="taskDone(task, false)"
                        checked>
                </div>
                <span class="d-flex"><s>{{task.content}}</s></span>
            </li>
        </ul>
    </div>
</div>