<div class="banner">
<div class="banner-text">
    <h1>To do list </h1>
</div>
                <input class="btn btn-danger" type="button" value="Effacer tout" (click)="effacer()">
</div>
        <br><br>
<div class="todolist"><h1>Chose à faire</h1></div>
        <br><br><br>
<div class="search">
                <input class="btn btn-secondary" type="button" value="Nettoyer" (click)="nettoyer()">
                <input class="text" type="text" [(ngModel)]="tacheInput" name="tache" (keydown.enter)="ajouter()">
                <input class="btn btn-primary" type="button" value="Ajouter" (click)="ajouter()">
                

</div>
    <ul>
        <br><br>
        <ng-container *ngFor="let tache of taches; let i = index">
            <li *ngIf="tache.done === false">
                <input type="checkbox" [(ngModel)]="tache.done"/>
                    <span [class]="{'done':tache.done}">{{tache.name}}</span>
                <!-- <input class="fermer" type="checkbox" (click)="taches.splice(i,1)"/> -->
                <i class="bi bi-x-square" (click)="taches.splice(i,1)"></i>          
            </li>
        </ng-container>
        <br><br><br>
 <div class="line">
     ____________________________________________________________________________________________________________________________
</div>
        <br><br><br>
        <ng-container *ngFor="let tache of taches; let i = index">
            <li *ngIf="tache.done === true">
                <input type="checkbox" [(ngModel)]="tache.done"/>
                    <span [class]="{'done':tache.done}">{{tache.name}}</span>
                <!-- <input class= "fermer" type="checkbox" (click)="taches.splice(i,1)"/> -->
                <i class="bi bi-x-square" (click)="taches.splice(i,1)"></i>      
             </li>
        </ng-container>
    </ul>